@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@100&family=Ubuntu:wght@300&family=Varela+Round&display=swap');
.table-container {
    margin-top: 78px;
    border: 2px solid;
    border-radius: 12px;
    max-width: 95%;
    overflow: scroll;
}
.user-table{
    width: 2000px !important;

}
.user-id{
    width: 200px;
}

.Warning {
    margin-right: 4px; 
}
.icon{
    width: 24px;
    object-fit: contain;
    height: 24px;
}

.Edit {
    margin-right: 3px;
}

.user-table-row:hover {
    background: rgba(234, 234, 234, 0.4);
}
.user-table-heading {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.user-table-row {
    font-family: 'Manrope';
    font-style: normal;
    text-align: center;
}

.btns {
    padding: 7px;
    color: #66D7D1;
    background: #E6FFFE;
    border-radius: 4px;
    width: 117px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}